.articles-header {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.article-row {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.article-row:last-child {
  margin-bottom: 10px;
}
