.articles-header {
    border-bottom: 2px solid #dd4814;
    margin-bottom: 20px;
    padding-bottom: 4px;
}

.nav-articles {
    margin-bottom: 20px;
    margin-top: -3px;

    li a { 
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
    }
}

.article-row-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dd4814;

    &:last-child {
        margin-bottom: 0;
    }

    .article-thumbnail {
        margin: 0;
    }

    h3.article-title {
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
    }

    .article-meta,
    .article-tags {
        margin-bottom: 5px;
        font-size: 12px;
    }

    p, p.article-snippet {
        line-height: 24px;
        font-size: 15px;
        margin: 0;
    }

    .article-tags {
        margin-top: 5px;
    }
}