.articles-header {
    border-bottom: 2px solid #dd4814;
    margin-bottom: 20px;
    padding-bottom: 4px;
}

.nav-articles {
    margin-bottom: 20px;
    margin-top: -3px;

    li a { 
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
    }
}

.article-row-item {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dd4814;

    &:last-child {
        margin-bottom: 0;
    }

    .article-thumbnail {
        margin: 0;
    }

    h3.article-title {
        margin-top: 0;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 20px;
    }

    .article-meta,
    .article-tags {
        margin-bottom: 5px;
        font-size: 12px;
    }

    p, p.article-snippet {
        line-height: 24px;
        font-size: 15px;
        margin: 0;
    }

    .article-tags {
        margin-top: 5px;
    }
}

.upload-thumbnail {
    position: relative;

    .thumb-pic {
        width: 262px;
        height: 141px;
        float: left;
        display: inline-block;
        position: relative;
        background: url('http://lorempixel.com/500/300/') no-repeat;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        -o-background-size: 100% 100%;
        background-size: 100% 100%;

    }

    .btn {
        cursor: pointer;
        *zoom: 1;
        *display: inline;
        display: inline-block;
        position: relative;
        overflow: hidden;
        vertical-align: middle;
        position: absolute;
        right: 10px;
        top: 100px;

        input {
            top: -0;
            right: -0;
            z-index: 2;
            position: absolute;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
            font-size: 50px;
            cursor: pointer;
        }
    }
}